name: Build

on:
  push:
    branches:
      - modernize-1.21
  pull_request:
    branches:
      - modernize-1.21
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - run: mvn -B clean package

      - uses: actions/upload-artifact@v4
        with:
          name: KickIdlePlayer
          path: target/*.jar
